# Pandas Exercise Solutions

### Exercise 1
Import Pandas and create a series with the following data:
- Create a list "numbers" with six numbers: 2, 5, 18, 7, 21, 9
- Create a list "markers" with six strings: a, b, c, d, e, f
- Apply the list "numbers" to a series and use "markers" as index

In [1]:
import pandas as pd
import numpy as np

numbers = np.array([2,5,18,7,21,9])
markers = np.array(['a', 'b', 'c', 'd', 'e', 'f'])

pd.Series(numbers, markers)

a     2
b     5
c    18
d     7
e    21
f     9
dtype: int32

### Exercise 2
Import the data in "Retail_Sales.csv"  to a dataframe called "retail_df1", and print the following:
- Check how many rows and columns are in this dataframe
- Show the summary statistics of the retail_df dataframe
- Show the first 5 rows of the dataframe
- Show the unique values in the "Product Type" column

In [10]:
retail_df1 = pd.read_csv('Retail_Sales.csv')

print('Rows: ', retail_df1.shape[0])
print('Columns: ', retail_df1.shape[1])
print(retail_df1.describe())
print(retail_df1.head())
retail_df1['Product Type'].unique()

Rows:  1775
Columns:  6
       Net Quantity   Gross Sales    Discounts      Returns  Total Net Sales
count   1775.000000   1775.000000  1775.000000  1775.000000      1775.000000
mean       3.712676    199.671746    -6.317623    -5.385437       187.968687
std        6.243078    464.880638    20.903517    46.654269       414.547039
min       -1.000000      0.000000  -594.000000 -1609.000000      -106.250000
25%        1.000000     48.000000    -6.000000     0.000000        44.800000
50%        2.000000    100.000000     0.000000     0.000000        96.000000
75%        4.000000    185.500000     0.000000     0.000000       184.750000
max       96.000000  14935.000000     0.000000     0.000000     12732.000000
      Product Type  Net Quantity  Gross Sales  Discounts  Returns  \
0  Art & Sculpture            34      14935.0    -594.00  -1609.0
1           Basket            13       3744.0    -316.80      0.0
2           Basket            12       3825.0    -201.60   -288.0
3           Basket            17       3035.0     -63.25      0.0
4  Art & Sculpture            47       2696.8     -44.16      0.0

   Total Net Sales
0         12732.00
1          3427.20
2          3335.40
3          2971.75
4          2652.64

array(['Art & Sculpture', 'Basket', 'Christmas', 'Home Decor',
       'Recycled Art', 'Jewelry', 'Skin Care', 'Kitchen', 'Textiles',
       'Accessories', 'Fair Trade Gifts', 'One-of-a-Kind', 'Soapstone',
       'Music', 'Furniture', 'Kids', nan, 'Easter', 'Gift Baskets'],
      dtype=object)

### Exercise 3
- Import the csv file "Retail_Sales_2.csv" to the dataframe "retail_df2"
- Combine "retail_df1" and "retail_df2" into a new dataframe "retail_df". Make sure the join them side by side
- Show the first 5 rows of the new dataframe

retail_df2 = pd.read_csv("Retail_Sales_2.csv")

retail_df = pd.concat([retail_df1,retail_df2], axis = 1)

retail_df.head()

### Exercise 4
- Add a column "Price Per Unit" which is the Total Net Sales divided by the Net Quantity
- Remove the column "Discounts" from the dataframe
- View the first 5 rows after the changes

In [17]:
retail_df['Price Per Unit'] = retail_df['Total Net Sales'] / retail_df['Net Quantity']
retail_df = retail_df.drop('Discounts', axis=1)

retail_df.head()

,Product Type,Net Quantity,Gross Sales,Returns,Total Net Sales,Sales ID,Price Per Unit
0,Art & Sculpture,34,14935.0,-1609.0,12732.00,10834,374.470588
1,Basket,13,3744.0,0.0,3427.20,10835,263.630769
2,Basket,12,3825.0,-288.0,3335.40,10836,277.950000
3,Basket,17,3035.0,0.0,2971.75,10837,174.808824
4,Art & Sculpture,47,2696.8,0.0,2652.64,10838,56.439149

### Exercise 5
- Show all the rows when the Net Quantity is larger than 50
- Show all the rows when the Product Type is Jewelry

In [19]:
print(retail_df[retail_df['Net Quantity'] > 50])
retail_df[retail_df['Product Type'] == 'Jewelry']

       Product Type  Net Quantity  Gross Sales  Returns  Total Net Sales  \
7         Christmas            90       2160.0      0.0          2114.41
22  Art & Sculpture            58       1392.0      0.0          1356.00
23        Christmas            58       1392.0      0.0          1346.40
24          Jewelry            96       1400.0    -56.0          1302.00
37          Kitchen            69       1104.0      0.0          1078.40
47  Art & Sculpture            59       1062.0      0.0          1028.40

    Sales ID  Price Per Unit
7      10841       23.493444
22     10856       23.379310
23     10857       23.213793
24     10858       13.562500
37     10871       15.628986
47     10881       17.430508

,Product Type,Net Quantity,Gross Sales,Returns,Total Net Sales,Sales ID,Price Per Unit
15,Jewelry,33,1584.0,0.0,1516.83,10849,45.964545
17,Jewelry,32,1536.0,0.0,1459.20,10851,45.600000
24,Jewelry,96,1400.0,-56.0,1302.00,10858,13.562500
71,Jewelry,18,912.0,-48.0,818.40,10905,45.466667
79,Jewelry,16,768.0,0.0,736.80,10913,46.050000
...,...,...,...,...,...,...,...
1725,Jewelry,1,18.0,0.0,18.00,12559,18.000000
1747,Jewelry,1,16.0,0.0,14.40,12581,14.400000
1754,Jewelry,1,14.0,0.0,14.00,12588,14.000000
1757,Jewelry,1,12.0,0.0,12.00,12591,12.000000
1771,Jewelry,0,28.0,-28.0,0.00,12605,NaN

### Exercise 6
- Gather the average values grouped by Product Type
- Show the summary statistics grouped by Product Type

In [21]:
print(retail_df.groupby('Product Type').mean())
retail_df.groupby('Product Type').describe()

                  Net Quantity  Gross Sales   Returns  Total Net Sales  \
Product Type
Accessories           2.153846    99.805128  0.000000        97.061026
Art & Sculpture       4.234421   268.001780 -8.545786       250.685015
Basket                2.651543   261.008167 -8.057514       244.630472
Christmas             7.876712   212.000000 -9.178082       198.093288
Easter                1.000000    38.000000  0.000000        34.200000
Fair Trade Gifts      3.928571    80.642857  0.000000        78.738214
Furniture             1.687500   127.125000  0.000000       116.560000
Gift Baskets          1.000000    19.500000  0.000000        19.500000
Home Decor            3.083969   206.981298 -3.231679       196.183130
Jewelry               4.719048   147.847619 -2.424762       140.823571
Kids                  2.222222    60.920635  0.000000        59.068889
Kitchen               5.024845    99.975155 -2.037702        95.259752
Music                 3.379310    91.155172 -4.910690        83.410345
One-of-a-Kind         1.000000   181.666667  0.000000       175.667500
Recycled Art          4.304348   164.904348  0.000000       161.050435
Skin Care             9.181818   237.227273  0.000000       233.800000
Soapstone             2.970149    71.574627 -1.037313        69.090896
Textiles              3.071429   134.928571 -6.928571       119.935714

                      Sales ID  Price Per Unit
Product Type
Accessories       11849.179487       57.257299
Art & Sculpture   11665.952522       64.804252
Basket            11515.375681      100.129995
Christmas         11702.876712       26.899804
Easter            12316.000000       34.200000
Fair Trade Gifts  12072.357143       26.092324
Furniture         11700.500000       75.841979
Gift Baskets      12524.000000       19.500000
Home Decor        11632.603053       60.626877
Jewelry           11858.595238       33.887151
Kids              12129.507937       26.568201
Kitchen           11970.944099       27.332155
Music             12025.310345       28.373503
One-of-a-Kind     11381.916667      175.667500
Recycled Art      11784.782609       49.721751
Skin Care         11753.909091       21.636507
Soapstone         12077.805970       22.904360
Textiles          11809.000000       37.757692

                 Net Quantity                                             \
                        count      mean        std  min  25%  50%    75%
Product Type
Accessories              39.0  2.153846   3.856222  1.0  1.0  1.0   2.00
Art & Sculpture         337.0  4.234421   6.686981  1.0  1.0  2.0   4.00
Basket                  551.0  2.651543   3.166040  0.0  1.0  1.0   3.00
Christmas                73.0  7.876712  12.711483  0.0  2.0  4.0  10.00
Easter                    1.0  1.000000        NaN  1.0  1.0  1.0   1.00
Fair Trade Gifts         28.0  3.928571   5.583896  1.0  1.0  2.0   3.00
Furniture                16.0  1.687500   0.704154  1.0  1.0  2.0   2.00
Gift Baskets              1.0  1.000000        NaN  1.0  1.0  1.0   1.00
Home Decor              131.0  3.083969   3.309748  1.0  1.0  2.0   3.00
Jewelry                 210.0  4.719048   8.998252  0.0  1.0  2.0   4.00
Kids                     63.0  2.222222   1.782029  1.0  1.0  2.0   3.00
Kitchen                 161.0  5.024845   7.935640 -1.0  1.0  2.0   6.00
Music                    29.0  3.379310   3.858329  1.0  1.0  2.0   4.00
One-of-a-Kind            12.0  1.000000   0.000000  1.0  1.0  1.0   1.00
Recycled Art             23.0  4.304348   7.730899  1.0  1.0  2.0   2.50
Skin Care                11.0  9.181818  11.539655  1.0  2.0  4.0   9.50
Soapstone                67.0  2.970149   2.564148  0.0  1.0  2.0   4.00
Textiles                 14.0  3.071429   2.400778  0.0  2.0  2.0   3.75

                       Gross Sales              ...  Sales ID           \
                   max       count        mean  ...       75%      max
Product Type                                    ...
Accessories       25.0        39.0   99.805128  ...  12160.50  12508.0
Art & Sculpture   59.0       337.0  268.001780  ...  12181.00  12590.0
Basket            30.0       551.0  261.008167  ...  11816.50  12606.0
Christmas         90.0        73.0  212.000000  ...  12177.00  12603.0
Easter             1.0         1.0   38.000000  ...  12316.00  12316.0
Fair Trade Gifts  22.0        28.0   80.642857  ...  12469.00  12594.0
Furniture          3.0        16.0  127.125000  ...  11913.50  12346.0
Gift Baskets       1.0         1.0   19.500000  ...  12524.00  12524.0
Home Decor        19.0       131.0  206.981298  ...  11986.50  12552.0
Jewelry           96.0       210.0  147.847619  ...  12296.75  12605.0
Kids              12.0        63.0   60.920635  ...  12394.00  12572.0
Kitchen           69.0       161.0   99.975155  ...  12373.00  12608.0
Music             16.0        29.0   91.155172  ...  12499.00  12577.0
One-of-a-Kind      1.0        12.0  181.666667  ...  11556.25  11580.0
Recycled Art      37.0        23.0  164.904348  ...  12148.50  12514.0
Skin Care         32.0        11.0  237.227273  ...  12291.50  12563.0
Soapstone         13.0        67.0   71.574627  ...  12487.00  12596.0
Textiles           8.0        14.0  134.928571  ...  11907.75  12599.0

                 Price Per Unit                                     \
                          count        mean        std         min
Product Type
Accessories                39.0   57.257299  27.833419   18.320000
Art & Sculpture           337.0   64.804252  77.658958   12.540000
Basket                    546.0  100.129995  61.868679   14.400000
Christmas                  72.0   26.899804  15.365719   14.000000
Easter                      1.0   34.200000        NaN   34.200000
Fair Trade Gifts           28.0   26.092324  14.284509    9.500000
Furniture                  16.0   75.841979  57.079165   33.750000
Gift Baskets                1.0   19.500000        NaN   19.500000
Home Decor                131.0   60.626877  33.589255   18.000000
Jewelry                   209.0   33.887151  14.610756   10.000000
Kids                       63.0   26.568201   8.106187   14.546667
Kitchen                   158.0   27.332155  20.685991    9.293556
Music                      29.0   28.373503  20.364409   14.800000
One-of-a-Kind              12.0  175.667500  79.081709  121.500000
Recycled Art               23.0   49.721751  47.771209   15.000000
Skin Care                  11.0   21.636507   7.906898   16.650000
Soapstone                  66.0   22.904360   7.762134   10.000000
Textiles                   13.0   37.757692  21.852821   20.500000


                         25%         50%         75%         max
Product Type
Accessories        31.400000   48.000000   88.100000  102.600000
Art & Sculpture    26.600000   40.460000   68.000000  810.000000
Basket             45.387500   99.000000  145.000000  328.500000
Christmas          18.000000   21.588750   28.000000   88.000000
Easter             34.200000   34.200000   34.200000   34.200000
Fair Trade Gifts   18.000000   23.300000   30.000000   78.000000
Furniture          42.200000   49.600000   95.191250  247.500000
Gift Baskets       19.500000   19.500000   19.500000   19.500000
Home Decor         36.290000   58.026667   68.050000  220.500000
Jewelry            25.200000   30.400000   41.800000   88.000000
Kids               18.000000   28.000000   32.000000   49.466667
Kitchen            15.157246   22.000000   30.825000  132.000000
Music              16.200000   19.000000   32.000000   99.000000
One-of-a-Kind     125.000000  150.000000  200.000000  405.000000
Recycled Art       26.600000   34.200000   51.550000  245.000000
Skin Care          18.083750   18.500000   18.500000   38.000000
Soapstone          17.807143   21.800000   27.903846   43.500000
Textiles           24.000000   34.200000   36.100000  104.000000

[18 rows x 48 columns]